<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877897384275-1tpph6jrgeagvmu1pvh0a6rb947qtrt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877897384275-1tpph6jrgeagvmu1pvh0a6rb947qtrt2</string>
	<key>API_KEY</key>
	<string>AIzaSyBfgPFFQFDl2nM4s_ZrqzdUB8GnU-yoW-U</string>
	<key>GCM_SENDER_ID</key>
	<string>877897384275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AntoinePerry.NealAlert</string>
	<key>PROJECT_ID</key>
	<string>neal-alerts-979a0</string>
	<key>STORAGE_BUCKET</key>
	<string>neal-alerts-979a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877897384275:ios:b32e917c18ae0f8e65a1a6</string>
	<key>DATABASE_URL</key>
	<string>https://neal-alerts-979a0.firebaseio.com</string>
</dict>
</plist>